// Define your custom colors
body {
  width: 70vw;
  margin: auto;
  // border: 2px solid black;
}

.nav-link {
  display: flex;
  margin: 0px;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;  
}

.mantine-NavLink-label {
  font-size: larger;
}
